@use "modules/modules";

.nav {
  background-color: modules.$nav-background-color;
  box-shadow: 0 0 18px modules.$nav-shadow-color;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 100%;

    @media screen and (min-width: 40em) {
      align-items: center;
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;

    @media screen and (min-width: 40em) {
      display: flex;
      flex-direction: row;
      width: auto;
    }
  }

  &__item {
    text-align: center;
  }

  &__link {
    text-align: center;
    color: modules.$link-color;
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      color: modules.$link-hover-color;
      background-color: modules.$link-hover-background-color;
    }
  }

  &__hamburger {
    &-checkbox {
      display: none;

      &:checked + .nav__list {
        display: flex;
      }
    }

    &-label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.75rem;

      @media screen and (min-width: 40rem) {
        display: none;
      }
    }

    &-line {
      background: modules.$link-color;
      display: block;
      height: 2px;
      width: 1.5rem;
    }
  }
}